.container {
    margin: 1rem;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__left {
    margin-bottom: 1rem;
}

.hero__title {
    color: #ff0000;
    margin-bottom: 1rem;
    font-size: 2.44rem;
}

.hero__genre {
    color: #b5ab17;
    margin-bottom: 1rem;
    font-size: 1.59rem;
}

.hero__description {
    color: #0004ff;
    margin-bottom: 1rem;
}

.hero__button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: #ff0000;
    color: #000000;
}

.hero__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero {
        margin: 1rem 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .hero__left {
        flex-basis: 60%;
    }

    .hero__right {
        margin-left: 1rem;
        flex-basis: 60%;
    }
}